
 body{
  margin: 0;
  padding: 0;
  font-family: poppins;
  box-sizing: border-box;
  background-color: #ccc;
 }

.nav-container {
  display: flex;
  justify-content: center;
}

.nav {
  border: 1px solid transparent;
  border-width: px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color:#0c0b0c;
  font-size: 24px;
  width: 100%;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
}

li a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 1s;
}

li a:hover {
  background-color: #006400;
  color: #000000;
}

li {
  border-right: 1px solid #bbb;
}

.content{

  margin-top: 200px;
  margin-left: 60px;

}
h1{
  font-size: 3.5rem;
  text-transform: uppercase;
  
}

.button {
  background-color: #ff4500;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e64000;
}

.order-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-form label {
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}

.order-form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  flex-grow: 1;
}

.order-form input[type="submit"] {
  background-color: #ff4500;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-form input[type="submit"]:hover {
  background-color: #e64000;
}
input[type="text"][placeholder="Enter your email or phone number"][required] {
  background-color: beige;
  color: black;
  height: 30px;
  border: 3px solid #ff4500;
}

#email-input.hidden {
  display: none;
}


